<% include partials/header %>
            <div class="collapse navbar-collapse navbar-right" id="bs-nav-demo">
	         	<ul class="nav navbar-nav">
			        <li><a href="/">Home </a></li>
			        <li><a href="/projects">Projects </a></li>
                    <li class="active"><a href="/about">About <span class="sr-only">(current)</span></a></li>
                    <li><a href="/contact">Contact Me </a></li>
                </ul>
            </div>
        </div>
	</nav>

	<div class="container">
		<div class="about-me">
			<div class="row">
				<div class="col-md-6">
					<h1>About Me</h1>
					<p>I'm 24 years old and reside in the San Francisco Bay area. I enjoy building mobile applications, and have recently taken an interest in full-stack web development. Apart from programming, I've been involved in music since I began playing the flute in fall of 2003. Since then, I've been involved in multiple bands and choirs, and have tried (and sometimes succeeded) to pick up a multitude of instruments including guitar, baritone, and tenor saxophone.</p>

					<h3>Full-Time Jobs</h3>
                    <div class="panel-group" id="accordionW" role="tablist" aria-multiselectable="true">
                        <!--Work Item-->
                        <% for(var i = 0; i < workItems.length; i++) { var item = workItems[i]; %>
                            <div class="panel">
                                <div role="tab" id="heading<%=i%>">
                                    <h4>
                                        <!--Title and date-->
                                        <a class="panel-header" role="button" data-toggle="collapse" data-parent="#accordionW" href="#collapseW<%=i%>" aria-expanded="false" aria-controls="collapseW<%=i%>">
                                            <%=item.title%> <span class="date"><%=item.date%></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseW<%=i%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingW<%=i%>">
                                    <!--Description-->
                                    <div class="panel-body"><%-item.description%></div>
                                </div>
                            </div>
                        <% } %>

					<h3>Internships</h3>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <!--Internship Item-->
                        <% for(var i = 0; i < internshipItems.length; i++) { var item = internshipItems[i]; %>
                            <div class="panel">
                                <div role="tab" id="heading<%=i%>">
                                    <h4>
                                        <!--Title and date-->
                                        <a class="panel-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseI<%=i%>" aria-expanded="false" aria-controls="collapseI<%=i%>">
                                            <%=item.title%> <span class="date"><%=item.date%></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseI<%=i%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingI<%=i%>">
                                    <!--Description-->
                                    <div class="panel-body"><%-item.description%></div>
                                </div>
                            </div>
                        <% } %>

    					<h3>Education</h3>
                        <!--Education Item-->
                        <% for(var i = 0; i < educationItems.length; i++) { var item = educationItems[i]; %>
                            <div class="panel">
                                <div role="tab" id="headingE<%=i%>">
                                    <h4>
                                        <!--Title and date-->
                                        <a class="panel-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseE<%=i%>" aria-expanded="false" aria-controls="collapseE<%=i%>">
                                            <%=item.title%> <span class="date"><%=item.date%></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseE<%=i%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=i%>">
                                    <!--Description-->
                                    <div class="panel-body"><%=item.description%></div>
                                </div>
                            </div>
                        <% } %>


                        <!-- Skills -->
                        <h3>Skills</h3>
                        <!-- Leadership -->
                        <div class="panel">
                            <div role="tab" id="heading5">
                                <h4>
                                    <a class="panel-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                        Leadership Experience
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                <div class="panel-body">
                                    <div class="row">
                                        <% for(var i = 0; i < leadershipSkills.length; i++) { var skill = leadershipSkills[i]; %>
                                            <div class="col-xs-12">
                                               <%- skill.title %> <span class="date"><%= skill.date %></span>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>

                       <!-- Programming -->
                        <div class="panel">
                            <div role="tab" id="heading6">
                                <h4>
                                    <a class="panel-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                        Programming Experience
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                                <div class="panel-body">
                                    <div class="row">
                                        <% for(var i = 0; i < jobSkills.length; i++) { var skill = jobSkills[i]; %>
                                            <div class="col-xs-4 col-sm-3">
                                               <%- skill.title %>
                                            </div>
                                        <% } %>
                                    </div>
                                    <br>
                                    <p>
                                    Head over to my <a href="/projects">projects</a> for more details!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

			<div class="col-xs-0 col-md-6 image-block">
                <img class="bio-image img-rounded img-responsive visible-md-block visible-lg-block" src="../images/about_me_smile.jpg">
                <a id="resume-btn" class="btn btn-primary btn-lg btn-block" href="./resume.pdf">Download My Resume</a>
            </div>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="./stylesheets/about.css">
<% include partials/footer %>