<% include partials/header %>
            <div class="collapse navbar-collapse navbar-right" id="bs-nav-demo">
	         	<ul class="nav navbar-nav">
			        <li><a href="/">Home </a></li>
			        <li class="active"><a href="/projects">Projects <span class="sr-only">(current)</span></a></li>
                    <li><a href="/about">About </a></li>
                    <li><a href="/contact">Contact Me </a></li>
                </ul>
            </div>
        </div>
	</nav>

	<!-- Projects -->
    <div class="container">
        <div class="row">
            <div class="project-image col-md-5 visible-md-block visible-lg-block">
                <img class="img-responsive img-rounded" style="margin: 0 auto; " src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/7ULJ7GRFDB.jpg">
            </div>
            <div class="project-image col-md-7">
                <h1>My Projects</h1>
                <p>
                    Here is a detailed list of some of the projects I've worked on in the past two years. I started at Cal Poly in 2012 with no programming experience,
                so I take pride in all of the projects I've been able to complete since then. Some of these are half-finished products due to school constraints,
                while others are market-ready programs. If you have any questions about any of these projects, feel free to <a href="/contact">contact me</a>!
                <br><br>
                    Take a look at my <a href="https://github.com/dnewberr/">github</a> account if you would like!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <% for (var i = 0; i < projects.length; i++) { var project = projects[i]; %>
                    <div class="panel">
                        <!-- Panel Title - should match project-title -->
                        <div role="tab" id="project">
                            <h3>
                                <a class="panel-header collapsed<%=i%>" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=i%>" aria-expanded=<%(i == 0)%> aria-controls="collapse<%=i%>">
                                    <%=project.name%>
                                </a>
                            </h3>
                        </div>
                        <div id="collapse<%=i%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="project">
                            <div class="row project">
                                <div class="col-xs-0 col-md-3 project-image">
                                    <img class="project-image img-responsive" src="<%=project.image%>">
                                </div>
                                <div class="col-xs-12 col-md-9 project-details">
                                    <!-- Project Title - should match panel title -->
                                    <h3 class="project-title"><%=project.name%></h3>
                                    <!-- Project Stats -->
                                    <div class="row project-stats">
                                        <div class="col-xs-6 col-sm-3"><strong> Completed: </strong> <%=project.completed%></div>
                                        <div class="col-xs-6 col-sm-3"><strong> Language: </strong> <%=project.language%></div>
                                        <div class="col-xs-6 col-sm-3"><strong> Platform: </strong> <%=project.platform%></div>
                                        <div class="col-xs-6 col-sm-3"><a href="<%=project.link%>"> <%=project.linkDescription%></a></div>
                                    </div>
                                    <hr>
                                    <!-- Project Description -->
                                    <p class="project-info">
                                        <%-project.description%>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }%>
            </div>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="./stylesheets/projects.css">
<% include partials/footer %>